@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0, 0%, 0%;
    --foreground: 0, 0%, 100%;
    --primary: 0, 0%, 100%;
    --primary-foreground: 0, 0%, 0%;
    --muted-foreground: 0, 0%, 60%;
    --font-weight: 500;
    --popover: var(--foreground);
}

html,
body {
    margin: 0;
    background: hsl(var(--background));
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

#root {
    background-color: hsl(var(--background));
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    color: hsl(var(--foreground));
    -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 80%);
}

::selection {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 80%);
}

main {
    flex: 1;
}

h1,
h2,
h3,
h4,
a,
p {
    color: hsl(var(--foreground));
}

h1 {
    font-weight: 600;
}

p {
    font-weight: 500;
    font-size: 0.8rem;
    color: hsl(var(--muted-foreground));
}

video {
    height: 100%;
}

.zoom-in-fade-enter {
    opacity: 0;
    transform: scale(0.85);
}

.zoom-in-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 800ms, transform 800ms;
}

.zoom-in-fade-exit {
    opacity: 1;
    transform: scale(1);
}

.zoom-in-fade-exit-active {
    opacity: 0;
    transform: scale(1.25);
    transition: opacity 800ms, transform 800ms;
}

.zoom-out-fade-enter {
    opacity: 0;
    transform: scale(1.1);
}

.zoom-out-fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 800ms, transform 800ms;
}

.zoom-out-fade-exit {
    opacity: 1;
    transform: scale(1);
}

.zoom-out-fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 800ms, transform 800ms;
}

.mobile-nav-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.mobile-nav-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms ease-in-out;
}

.mobile-nav-exit {
    opacity: 1;
    transform: translateY(0);
}

.mobile-nav-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 300ms ease-in-out;
}